/*font-family: "DM Sans", sans-serif;*/
/*font-family: "Noto Sans JP", sans-serif;*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Esto mantiene el ancho y el alto a pesar del Padding y el Margin */
  font-family: 'Noto Sans JP', sans-serif;
  list-style: none; /* Quita los puntos de decoracion de las listas */
  text-decoration: none; /* Quita los subrayados en los enlaces */
  color: white;
}

body {
  background-color: black;
}

header {
  position: fixed; /* Esto hace que el header se quede fijo en la parte superior */
  right: 0;
  top: 0;
  z-index: 100; /* Esto hace que el header se muestre arriba de todo */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 3%;
  background-color: transparent;
}

.logo {
  font-size: 40px;
  font-weight: 700;
}

.navlist {
  display: flex;
}

.navlist a {
  margin-left: 60px;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all .5s ease 0s;
}

.navlist a:hover {
  border-bottom: 2px solid white;
}

#menu-icon {
  display: none; /* Lo pongo en none para que solo se vea cuando la pagian esta colapsada de forma horizontal */
}

#menu-icon {
  font-size: 35px;
  z-index: 101;
  cursor: pointer;
}

#menu-toggle {
  display: none; /* Nunca quiero que se vea el checkbox */
}

#menu-icon-action {
  display: none; /* Para que no se le pueda hacer click al checkbox */
}

.hero {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(245.59deg, #314e36 0%, #3c7e5d 25%, #131313 75%);
  position: relative; /*Para que sea relativo al contenedor */
  display: grid;/*Para que el Hero se pueda dividir en dos columnas*/
  grid-template-columns: 1fr 1fr; /*las dos columnas*/
  align-items: center; /*para alinear verticalmente el Hero*/
  gap: 2rem; /*Para que haya un espacio de 2 rem entre las dos columnas*/
}

section {
  padding: 0 8%;
}

.hero-text h5{
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 25px;
}

.hero-text h4 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

.hero-text h1 {
  font-family: 'DM Sans', sans-serif;
  font-size: 75px;
  line-height: 1;
  margin: 0 0 30px;
}

.hero-text p {
  font-size: 90%;
  margin-bottom: 40px;
  line-height: 1.9;
}

.hero-img img{
  width: 700px;
  margin: 10% 0 0 0;
  height: auto;
  transition: all 3s linear; /* Esto hace que la transicion sea lienal */
}

.hero-img img:hover {
  width: 730px;
  opacity: 0.8;
}

.hero-text a {
  display: inline-block;
  background-color: #30463a;
  border: 1px solid transparent;
  padding: 15px 30px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all .5s ease;
}


.hero-text a:hover {
  background-color: transparent;
  border: 1px solid white;
  transform: translateX(8px);
}

.hero-text a.videos {
  background-color: transparent;
  border: 1px solid white;
  margin-left: 20px;
}

.hero-text a.videos i {
    margin-right: 5px;
}

.icons {
  position: absolute;
  top: 50vh;
  padding: 0 3%;
  transform: translateY(-50%);
}

.icons i {
  display: block;
  margin: 26px 0;
  font-size: 32px;
  transition: all .5s ease;
}

.icons i:hover {
  color: #4d4d4d;
  transform: translateY(-5px);
}

.light-mode, .black-mode {
  position: absolute;
  bottom: 6%;
  right: 3%;
}

.light-mode, black-mode i {
  display: block;
  padding: 12px;
  font-size: 25px;
  background-color: #21383D;
  border-radius: 30px;
  transition: all .5s ease;
}

.light-mode, .black-mode i:hover {
  transform: scale(1.1);
}


@media (prefers-color-scheme: light){
  .hero{
    background: linear-gradient(245.59deg, #95d27f 0%, #35cf2a 25%, #ededed 75%);
  }
  .hero-img img{
    width: 700px;
    margin: 10% 0 0 0;
    height: auto;
    transition: all 3s linear; /* Esto hace que la transicion sea lienal */
  }
}

/* Aca vamos a hacer media querys para que la web sea responsibe */
@media (max-width:992px) {
  section {
    padding: 0 3%;
    transition: .2s;

  }

  .hero-text {
    padding-top: 0;
  }

  .hero-img {
    text-align: center;
  }

  .hero-img img {
    width: 80%;
    margin: 10% 0 0 0;
  }

  .hero-text {
    font-size: 70%;
  }

  .icons{
    display: none;
  }

  .scroll-down {
    display: none;
  }
}

@media (max-width:768px) {

  .menu-icon-action {
    display: block;
  }

  #menu-icon {
    display: block;
  }

  .hero-text {
    text-align: center;
    padding-top: 100px;
  }

  .hero-img {
    margin: 0;
  }

  .hero {
    height: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
  }

  .navlist {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 200px;
    height: 180px;
    background-color: #04221fef;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    transition: all .5s ease-in-out;
  }

  .navlist a {
    display: block;
    margin: 2px 0;
  }

 #menu-toggle:checked + label.menu-icon-action + ul {
  right: 0;
 }

}